<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pandora</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>

    <script src="/static/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>

    <![endif]-->
    <link href="/static/css/general.css" rel="stylesheet">
</head>
<body>
{% include 'util/menu.html' %}
<form class="form-horizontal" id="formAddTeam" role="form" method="post" action="">
    <input type="hidden" id="shouldOverrideTeam" name="shouldOverrideTeam" value="False">
    <input class="form-control" type="number" placeholder="team number" id="number" name="number">
    <input class="form-control" type="text" placeholder="name" id="name" name="name">
    <input type="hidden" name="WereToRedirect" id="WereToRedirect">
    <input type="button" id="Teams" class="btn btn-primary btn-group col-lg-6 col-md-6 col-sm-6 col-xs-6" value="Teams" autocomplete="off">
    <input class="btn btn-primary btn-group col-lg-6 col-md-6 col-sm-6 col-xs-6" type="button" id="ScoutingForm" value="ScoutingForm" autocomplete="off">
</form>
<div class="modal fade" id="overrideTeam" tabindex="-1" role="dialog" aria-labelledby="overrideTeamLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="overrideTeamLabel">Wanna Override team?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" id="dontOverride" class="btn btn-secondary" data-dismiss="modal">Gonna Change Team Number</button>
          <button type="button" id="override" class="btn btn-primary" data-dismiss="modal">Override Team</button>
      </div>
    </div>
  </div>
</div>
<script>
    (function(){
        $(function(){
            initBlur();
            buttonSubmit();
        })

        function shouldSubmit(){
            var count=0;
            if($('#number').val()==""){1
                count++;
                $('#number').addClass("btn-danger");
            }
            if($('#name').val()==""){
                count++;
                $('#name').addClass("btn-danger");
            }
            var showed="False";
            $.ajax({
              method: "POST",
              url: "/checkIfTeamExists",
              data: { team_number: $('#number').val()}
                })
              .done(function( teamExists ) {
                if(teamExists != "false" && $('#shouldOverrideTeam').val()=="False"){
                    $('#overrideTeam').modal('show');
                    showed = "True";
                }
                if(teamExists == "false" && $('#shouldOverrideTeam').val()=="True"){
                    $('#shouldOverrideTeam').val("False");
                }
              });
            if(showed="True"&&$('#shouldOverrideTeam').val()=="False"){
                count++;
            }
            if(count==0){
                $('#formAddTeam').submit();
            }
        }


        function initBlur(){
        $('#number').blur(function (){
              $.ajax({
              method: "POST",
              url: "/checkIfTeamExists",
              data: { team_number: $('#number').val()}
                })
              .done(function( teamExists ) {
                if(teamExists != "false" && $('#shouldOverrideTeam').val()=="False"){
                    $('#overrideTeam').modal('show');
                }
                if(teamExists == "false" && $('#shouldOverrideTeam').val()=="True"){
                    $('#shouldOverrideTeam').val("False");
                }
                if($('#number').hasClass("btn-danger")&&$('#number').val()!=""){
                    $('#number').removeClass("btn-danger");
                }
              })});
        $('#override').click(function (){
            $('#shouldOverrideTeam').val("True");
        });
        $('#dontOverride').click(function (){
            $('#shouldOverrideTeam').val("False");
        });
        }

        function buttonSubmit(){
        $('#Teams').click(function (){
            shouldSubmit();
            $('#WereToRedirect').val("Teams");
        });
        $('#ScoutingForm').click(function (){
            shouldSubmit();
            $('#WereToRedirect').val("ScoutingForm");
        });
        }
    })()
</script>
</body>
</html>