<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/general.css" rel="stylesheet">
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/ScoutingForm.js"></script>
    <title>Pandora - Scouting Form</title>
</head>
{% include 'util/menu.html' %}

<body>
<form id="scoutingForm" method="post" action="/scoutingForm" class=" navbar-default">
    <input type="hidden" name="override" id="override" value="False">
    <br/>
    <div class="form-group">
        <input type="hidden" name="userName" id="userName" value="">
        <div class="col-xs-offset-3 col-lg-7 col-sm-7 col-md-7 col-xs-6 input-group input-group-lg input-group-middle">
            <input type="number" class="form-control" placeholder="Team Number" name="teamNumber" id="teamNumber"
                   required>
        </div>

        <br/>
        <br/>

        <div class="col-xs-offset-3 col-lg-7 col-sm-7 col-md-7 col-xs-6 input-group input-group-lg input-group-middle">
            <input type="number" class="form-control" placeholder="Match Number" name="matchNumber" id="matchNumber"
                   required>
        </div>

        <br/>
        <br/>

        <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label id="doesHighFalse" class="btn btn-primary btn-group col-lg-6" onclick="$('#HighShooting').hide()">
                <input type="radio" name="High" id="High" value="False" autocomplete="off"> Dosen't Shoots High
            </label>
            <label id="doesHighTrue" class="btn btn-primary btn-group col-lg-6" onclick="$('#HighShooting').show()">
                <input type="radio" name="High" id="High" value="True" autocomplete="off"> Shoots High
            </label>
        </div>

        <div id="autonomous">

        </div>
        <label id="hideAutonomous" class="btn btn-group-justified btn-primary col-lg-4 col-offset-lg-4 col-md-4 col-offset-md-4 col-xs-4 col-offset-xs-4 col-sm-4 col-offset-sm-4">
            close autonomous section
        </label>
        <div id="HighShooting" class="input-group input-group-lg input-group-middle" style="display:none">
            <br/>
            <br/>
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center; font-size: 200%">
                    High Shooting Quality
                </div>
                <div class="panel-body">
                    <div class="btn-group" data-toggle="buttons">
                        {%for enum in quality[1::]%}
                        <div id="qualityHigh-{{enum}}" name="qualitysHigh" class="btn btn-group-justified btn-primary">
                            <label>
                                <input type="radio" name="qualityHigh" value="{{enum}}" id="qualityHigh"
                                       autocomplete="off">
                                {{enum}}
                            </label>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <br/>


            <div id="numberShootsHigh" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center; font-size: 200%">Fuel Scored High - <span
                            id="fuelHigh"></span><input type="hidden" name="highFuelScoredSend" id="highFuelScoredSend">
                        <input type="hidden" name="scoreHigh" id="scoreHigh">
                    </h3>
                </div>
                <div class="panel-body ">
                    <div class="btn-group btn-group-justified " data-toggle="buttons">
                        <label id="fuelHighInc10" class="btn btn-primary btn-group ">
                            +10
                        </label>
                        <label id="fuelHighInc" class="btn btn-primary btn-group ">
                            +1
                        </label>
                        <label id="fuelHighDec" class="btn btn-primary btn-group">
                            -1
                        </label>
                        <label id="fuelHighDec10" class="btn btn-primary btn-group">
                            -10
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <br/>
        <br/>

        <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label id="doesLowFalse" class="btn btn-primary btn-group col-lg-6" onclick="$('#lowShooting').hide()">
                <input type="radio" name="Low" id="Low" autocomplete="off" value="False"> Dosen't Shoots Low
            </label>
            <label id="doesLowTrue" class="btn btn-primary btn-group col-lg-6" onclick="$('#lowShooting').show()">
                <input type="radio" name="Low" id="Low" autocomplete="off" Value="True"> Shoots Low
            </label>
        </div>

        <br/>
        <br/>

        <div id="lowShooting" class="input-group input-group-lg input-group-middle" style="display:none">
            <div id="numberShootsLow" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center; font-size: 200%">Fuel Scored Low - <span
                            id="fuelLow"></span><input type="hidden" name="lowFuelScoredSend" id="lowFuelScoredSend">
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label id="fuelLowInc10" class="btn btn-primary btn-group ">
                            +10
                        </label>
                        <label id="fuelLowInc" class="btn btn-primary btn-group ">
                            +1
                        </label>
                        <label id="fuelLowDec" class="btn btn-primary btn-group">
                            -1
                        </label>
                        <label id="fuelLowDec10" class="btn btn-primary btn-group">
                            -10
                        </label>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </div>

        <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label id="doesGearFalse" class="btn btn-primary btn-group col-lg-6" onclick="$('#puttingGears').hide()">
                <input type="radio" name="Gear" id="Gear" value="False" autocomplete="off"> Dosen't Put Gears
            </label>
            <label id="doesGearTrue" class="btn btn-primary btn-group col-lg-6" onclick="$('#puttingGears').show()">
                <input type="radio" name="Gear" id="Gear" value="True" autocomplete="off"> Puts Gears
            </label>
        </div>

        <br/>
        <br/>

        <div id="puttingGears" class="input-group input-group-lg input-group-middle" style="display:none">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center; font-size: 200%">Gear Quality</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group" data-toggle="buttons">
                        {%for enum in quality[1::]%}
                        <div id="qualityGear-{{enum}}" name="qualitysGear" class="btn btn-group-justified btn-primary">
                            <label>
                                <input type="radio" name="qualityGear" value="{{enum}}" id="qualityGear"
                                       autocomplete="off">
                                {{enum}}
                            </label>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>

            <br/>

            <div id="gearsInputed" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center; font-size: 200%">Gear Scored - <span
                            id="gears"></span><input type="hidden" name="gearsScoredSend" id="gearsScoredSend">
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label id="gearInc" class="btn btn-primary btn-group ">
                            +1
                        </label>
                        <label id="gearDec" class="btn btn-primary btn-group">
                            -1
                        </label>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </div>

        <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label id="doesClimbFalse" class="btn btn-primary btn-group" onclick="$('#hangs').hide()">
                <input type="radio" name="Climb" id="Climb" value="False" autocomplete="off"> Dosen't Climbs
            </label>
            <label id="doesClimbFail" class="btn btn-primary btn-group" onclick="$('#hangs').hide()">
                <input type="radio" name="Climb" id="Climb" value="TrueFail" autocomplete="off"> Failed To Climb
            </label>
            <label id="doesClimbTrue" class="btn btn-primary btn-group" onclick="$('#hangs').show()">
                <input type="radio" name="Climb" id="Climb" value="True" autocomplete="off"> Climbs
            </label>
        </div>

        <br/>
        <br/>

        <div id="hangs" style="display:none">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center; font-size: 200%">Climbing Time</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group" data-toggle="buttons">
                        {%for enum in time[1::]%}
                        <div id="timeClimb-{{enum}}" name="timeClimb" class="btn btn-group-justified btn-primary">
                            <label>
                                <input type="radio" name="qualityClimbing" value="{{enum}}" id="qualityClimbing"
                                       autocomplete="off">
                                {{enum}}
                                {%if enum == "long"%}
                                30-23
                                {%endif%}
                                {%if enum=="medium"%}
                                23-15
                                {%endif%}
                                {%if enum=="short"%}
                                15-0
                                {%endif%}
                            </label>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </div>

        <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label id="doesDefenceFalse" class="btn btn-primary btn-group col-lg-6"
                   onclick="$('#deffenciveRobot').hide()">
                <input type="radio" name="Defence" id="Defence" value="False" autocomplete="off"> Dosen't
                Defeneds
            </label>
            <label id="doesDefenceTrue" class="btn btn-primary btn-group col-lg-6"
                   onclick="$('#deffenciveRobot').show()">
                <input type="radio" name="Defence" id="Defence" value="True" autocomplete="off"> Defends
            </label>
        </div>

        <br/>
        <br/>

        <div id="deffenciveRobot" style="display:none">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center; font-size: 200%">Defence Quality</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group" data-toggle="buttons">
                        {%for enum in quality[1::]%}
                        <div id="qualityDefence-{{enum}}" name="qualitysDefence"
                             class="btn btn-group-justified btn-primary">
                            <label>
                                <input type="radio" name="qualityDefence" value="{{enum}}" id="qualityDefence"
                                       autocomplete="off">
                                {{enum}}
                            </label>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </div>

        <div id="foulsDone" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center; font-size: 200%">Fouls Done - <span
                        id="fouls"></span> <input type="hidden" name="foulsDone" id="foulSend">
                </h3>
            </div>
            <div class="panel-body">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label id="foulInc" class="btn btn-primary btn-group ">
                        +1
                    </label>
                    <label id="foulDec" class="btn btn-primary btn-group">
                        -1
                    </label>
                </div>
            </div>
        </div>

        <br/>
        <br/>

        <div id="hoppersPanel" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center; font-size: 200%">Hoppers Used - <span
                        id="hoppers"></span> <input type="hidden" name="hoppersUsed" id="hoppersUsed">
                </h3>
            </div>
            <div class="panel-body">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label id="hopperInc" class="btn btn-primary btn-group ">
                        +1
                    </label>
                    <label id="hopperDec" class="btn btn-primary btn-group">
                        -1
                    </label>
                </div>
            </div>
        </div>

        <div id="hoppersQuality" style="display:none">
            <br/>
            <br/>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center; font-size: 200%">Hopper Ball Catching
                        Quality</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group" data-toggle="buttons">
                        {%for enum in quality[1::]%}
                        <div id="qualityHopper-{{enum}}" name="qualitysHopper"
                             class="btn btn-group-justified btn-primary">
                            <label>
                                <input type="radio" name="hopperCatchingQuality" value="{{enum}}"
                                       id="hopperCatchingQuality"
                                       autocomplete="off">
                                {{enum}}
                            </label>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <br/>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center; font-size: 200%">Driver Quality</span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="btn-group" data-toggle="buttons">
                    {%for enum in quality[1::]%}
                    <div id="qualityDriver-{{enum}}" name="qualitysDriver" class="btn btn-group-justified btn-primary">
                        <label>
                            <input type="radio" name="qualityDriver" value="{{enum}}" autocomplete="off">
                            {{enum}}
                        </label>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>

        <br/>
        <br/>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center; font-size: 200%">Problems</span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="btn-group" data-toggle="buttons">
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label id="comuProblemFalse" class="btn btn-primary btn-group col-lg-6">
                            <input type="radio" name="comuProblem" value="False" autocomplete="off"> No communication
                            problem
                        </label>
                        <label id="comuProblemTrue" class="btn btn-primary btn-group col-lg-6">
                            <input type="radio" name="comuProblem" value="True" autocomplete="off"> Communication
                            problem
                        </label>
                    </div>
                </div>

                <div class="btn-group" data-toggle="buttons">
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label id="unstableProblemFalse" class="btn btn-primary btn-group col-lg-6">
                            <input type="radio" name="unstableProblem" value="False" autocomplete="off"> Stable robot
                        </label>
                        <label id="unstableProblemTrue" class="btn btn-primary btn-group col-lg-6">
                            <input type="radio" name="unstableProblem" value="True" autocomplete="off"> Unstable robot
                            problem
                        </label>
                    </div>
                </div>

                <div class="btn-group" data-toggle="buttons">
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label id="breakingProblemFalse" class="btn btn-primary btn-group col-lg-6">
                            <input type="radio" name="breakingProblem" value="False" autocomplete="off"> Robot didn't
                            brake
                        </label>
                        <label id="breakingProblemTrue" class="btn btn-primary btn-group col-lg-6">
                            <input type="radio" name="breakingProblem" value="True" autocomplete="off"> Robot broke
                            problem
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br/>
    <br/>

    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 input-group input-group-lg input-group-middle">
        <!-- <input type="textarea" class="form-control" placeholder="Comments" id="comments"> -->
        <textarea class="form-control" style="text-align: right;" value="" form="scoutingForm" rows="5" name="comment"
                  id="comment"
                  placeholder="הערות על המשחק"></textarea>
    </div>

    <br/>
    <br/>

    </div>
    <br/>

</form>

<form id="hiddenSubmit" class="navbar-default">
    <input id="deRealSubmit" type="button" class="btn btn-primary btn-block" value="Submit" name="Submit" required>
    <br/>
    <br/>
</form>

<br/>
<br/>

<div class="modal fade" id="overrideModal" tabindex="-1" role="dialog" aria-labelledby="overrideModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="overrideModalLabel">Game and Team exist</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This Team and Game exist Are YOU SURE you want to override the last saved game?!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Gonna Fix Some Stuff</button>
                <button id="overrideButton" type="button" class="btn btn-primary">Override</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="requiredModal" tabindex="-1" role="dialog" aria-labelledby="requiredModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requiredModalLabel">Didn't fill in Required</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You didn't Fill in Something, Please fill in the red highlighted stuff
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Gonna Fix Some Stuff</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="teamNumberIncorrectModal" tabindex="-1" role="dialog"
     aria-labelledby="requiredNameModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requiredNameModalLabel">Change team NUMBER!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fix Some Stuff</button>
                <a href="/newTeam"><label class="btn btn-primary">Add Team</label></a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showStuffModal" tabindex="-1" role="dialog" aria-labelledby="showModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showModalLabel">Form:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="dontSubmitButton" type="button" class="btn btn-secondary" data-dismiss="modal">Gonna Fix
                    Some Stuff
                </button>
                <button id="submitButton" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>


<script>
</script>
</body>
</html>