<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/general.css" rel="stylesheet">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <title>Pandora - Scouting Form</title>
</head>
{% include 'util/menu.html' %}

<body>
<script>
    var fuelHigh=0;






</script>
<form id="scoutingForm" method="post" action="/scoutingForm" class="navbar-form navbar-default">
    <br/>
    <div class="form-group">
        <input type="hidden" name="userName" id="userName" value="">
        <div class="col-xs-offset-3 col-lg-7 col-sm-7 col-md-7 col-xs-6 input-group input-group-lg input-group-middle">
            <input type="text" class="form-control" placeholder="Team Number" name="teamNumber" id="teamNumber">
        </div>

        <br/>
        <br/>

        <div class="col-xs-offset-3 col-lg-7 col-sm-7 col-md-7 col-xs-6 input-group input-group-lg input-group-middle">
            <input type="text" class="form-control" placeholder="Game" name="game" id="game">
        </div>

        <!--<br/>-->
        <!--<br/>-->

        <!--<div class="col-xs-offset-3 col-lg-7 col-sm-7 col-md-7 col-xs-6 input-group input-group-lg input-group-middle">-->
        <!--<input type="text" class="form-control" placeholder="Team Name" id="teamName">-->
        <!--</div>-->

        <br/>
        <br/>


        <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-primary btn-group active col-lg-6" onclick="$('#HighShooting').hide()">
                <input type="radio" name="High" id="High" value='False' autocomplete="off" checked> Dosen't Shoots High
            </label>
            <label class="btn btn-primary btn-group col-lg-6" onclick="$('#HighShooting').show()">
                <input type="radio" name="High" id="High" value='True' autocomplete="off"> Shoots High
            </label>
        </div>


        <div id="HighShooting" class="input-group input-group-lg input-group-middle" style="display:none">
            <br/>
            <br/>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center; font-size: 200%">High Shooting Quality</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group" data-toggle="buttons">
                        {%for enum in quality[1::]%}
                        <div class="btn btn-group-justified btn-primary">
                            <label>
                                <input type="radio" name="qualityHigh" value="{{enum}}" id="qualityHigh"
                                       autocomplete="off">
                                {{enum}}
                            </label>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <br/>


            <div id="numberShootsHigh" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center; font-size: 200%">Fuel Scored High - <span
                            id="fuelHigh"></span><input type="hidden" name="highFuelScoredSend" id="highFuelScoredSend">
                    </h3>
                </div>
                <div class="panel-body ">
                    <div class="btn-group btn-group-justified " data-toggle="buttons">
                        <label id="fuelHighInc10" class="btn btn-primary btn-group ">
                            +10
                        </label>
                        <label id="fuelHighInc" class="btn btn-primary btn-group ">
                            +1
                        </label>
                        <label id="fuelHighDec" class="btn btn-primary btn-group">
                            -1
                        </label>
                        <label id="fuelHighDec10" class="btn btn-primary btn-group">
                            -10
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <br/>
        <br/>

        <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-primary btn-group active col-lg-6" onclick="$('#lowShooting').hide()">
                <input type="radio" name="Low" id="Low" autocomplete="off" checked value="False"> Dosen't Shoots Low
            </label>
            <label class="btn btn-primary btn-group col-lg-6" onclick="$('#lowShooting').show()">
                <input type="radio" name="Low" id="Low" autocomplete="off" Value="True"> Shoots Low
            </label>
        </div>

        <br/>
        <br/>

        <div id="lowShooting" class="input-group input-group-lg input-group-middle" style="display:none">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center; font-size: 200%">Low Shooting Quality</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group" data-toggle="buttons">
                        {%for enum in quality[1::]%}
                        <div class="btn btn-group-justified btn-primary">
                            <label>
                                <input type="radio" name="qualityLow" value="{{enum}}" id="qualityLow"
                                       autocomplete="off">
                                {{enum}}
                            </label>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <br/>
            <br/>

            <div id="numberShootsLow" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center; font-size: 200%">Fuel Scored Low - <span
                            id="fuelLow"></span><input type="hidden" name="lowFuelScoredSend" id="lowFuelScoredSend">
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label id="fuelLowInc10" class="btn btn-primary btn-group ">
                            +10
                        </label>
                        <label id="fuelLowInc" class="btn btn-primary btn-group ">
                            +1
                        </label>
                        <label id="fuelLowDec" class="btn btn-primary btn-group">
                            -1
                        </label>
                        <label id="fuelLowDec10" class="btn btn-primary btn-group">
                            -10
                        </label>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </div>

        <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-primary btn-group active col-lg-6" onclick="$('#puttingGears').hide()">
                <input type="radio" name="Gears" id="Gears" value="False" autocomplete="off" checked> Dosen't Put Gears
            </label>
            <label class="btn btn-primary btn-group col-lg-6" onclick="$('#puttingGears').show()">
                <input type="radio" name="Gears" id="Gears" value="True" autocomplete="off"> Puts Gears
            </label>
        </div>

        <br/>
        <br/>

        <div id="puttingGears" class="input-group input-group-lg input-group-middle" style="display:none">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center; font-size: 200%">Gear Quality</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group" data-toggle="buttons">
                        {%for enum in quality[1::]%}
                        <div class="btn btn-group-justified btn-primary">
                            <label>
                                <input type="radio" name="qualityGears" value="{{enum}}" id="qualityGears"
                                       autocomplete="off">
                                {{enum}}
                            </label>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>

            <br/>

            <div id="gearsInputed" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center; font-size: 200%">Gear Scored - <span
                            id="gears"></span><input type="hidden" name="gearsScoredSend" id="gearsScoredSend">
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label id="gearInc10" class="btn btn-primary btn-group ">
                            +10
                        </label>
                        <label id="gearInc" class="btn btn-primary btn-group ">
                            +1
                        </label>
                        <label id="gearDec" class="btn btn-primary btn-group">
                            -1
                        </label>
                        <label id="gearDec10" class="btn btn-primary btn-group ">
                            -10
                        </label>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </div>

        <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-primary btn-group active col-lg-6" onclick="$('#hangs').hide()">
                <input type="radio" name="Climb" id="Climb" value="False" autocomplete="off" checked> Dosen't Climbs
            </label>
            <label class="btn btn-primary btn-group col-lg-6" onclick="$('#hangs').show()">
                <input type="radio" name="Climb" id="Climb" value="True" autocomplete="off"> Climbs
            </label>
        </div>

        <br/>
        <br/>

        <div id="hangs" style="display:none">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center; font-size: 200%">Climbing Time</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group" data-toggle="buttons">
                        {%for enum in time[1::]%}
                        <div class="btn btn-group-justified btn-primary">
                            <label>
                                <input type="radio" name="qualityClimb" value="{{enum}}" id="qualityClimb"
                                       autocomplete="off">
                                {{enum}}
                            </label>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </div>

        <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-primary btn-group active col-lg-6" onclick="$('#deffenciveRobot').hide()">
                <input type="radio" name="Deffence" id="Deffence" value="False" autocomplete="off" checked> Dosen't
                Defened
            </label>
            <label class="btn btn-primary btn-group col-lg-6" onclick="$('#deffenciveRobot').show()">
                <input type="radio" name="Deffence" id="Deffence" value="True" autocomplete="off"> Defends
            </label>
        </div>

        <br/>
        <br/>

        <div id="deffenciveRobot" style="display:none">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center; font-size: 200%">Defence Quality</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group" data-toggle="buttons">
                        {%for enum in quality[1::]%}
                        <div class="btn btn-group-justified btn-primary">
                            <label>
                                <input type="radio" name="qualityDeffence" value="{{enum}}" id="qualityDeffence"
                                       autocomplete="off">
                                {{enum}}
                            </label>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </div>

        <div id="foulsDone" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center; font-size: 200%">Fouls Done - <span
                        id="fouls"></span> <input type="hidden" name="foulsSend" id="foulSend">
                </h3>
            </div>
            <div class="panel-body">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label id="foulInc" class="btn btn-primary btn-group ">
                        +1
                    </label>
                    <label id="foulDec" class="btn btn-primary btn-group">
                        -1
                    </label>
                </div>
            </div>
        </div>

        <div class="col-xs-offset-3 col-lg-7 col-sm-7 col-md-7 col-xs-6 input-group input-group-lg input-group-middle">
            <!-- <input type="textarea" class="form-control" placeholder="Comments" id="comments"> -->
             ⁠⁠⁠<textarea class="form-control" form="scoutingForm" rows="5" name="comment" id="comment"
                          placeholder="Game Comments"></textarea>
        </div>

        <br/>
        <br/>

        <input type="submit" class="btn btn-primary btn-block" name="submit">

        <br/>
        <br/>

    </div>
    <br/>

</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script>
    (function() {
        $(function () {
            fuelHighInit();
            fuelLowInit();
            gearsInit();
            foulsInit();
        })

        function fuelHighInit() {
            var fuelHigh = 0;
            $('#fuelHigh').html(fuelHigh);
            $('#highFuelScoredSend').val(fuelHigh);

            $('#fuelHighInc').click(function() {
                fuelHigh++;
                if($('#fuelHighInc').hasClass("btn-danger")){
                $('#numberShootsHigh').removeClass("panel-danger");
                $('#numberShootsHigh').addClass("panel-default");
                $('#fuelHighDec').removeClass("btn-danger");
                $('#fuelHighInc').removeClass("btn-danger");
                $('#fuelHighDec').addClass("btn-primary");
                $('#fuelHighInc').addClass("btn-primary");
                $('#fuelHighDec10').removeClass("btn-danger");
                $('#fuelHighInc10').removeClass("btn-danger");
                $('#fuelHighDec10').addClass("btn-primary");
                $('#fuelHighInc10').addClass("btn-primary");
                }
                $('#fuelHigh').html(fuelHigh);
                $('#highFuelScoredSend').val(fuelHigh);
            });
            $('#fuelHighInc10').click(function() {
                fuelHigh+=10;
                if($('#fuelHighInc').hasClass("btn-danger")){
                $('#numberShootsHigh').removeClass("panel-danger");
                $('#numberShootsHigh').addClass("panel-default");
                $('#fuelHighDec').removeClass("btn-danger");
                $('#fuelHighInc').removeClass("btn-danger");
                $('#fuelHighDec').addClass("btn-primary");
                $('#fuelHighInc').addClass("btn-primary");
                $('#fuelHighDec10').removeClass("btn-danger");
                $('#fuelHighInc10').removeClass("btn-danger");
                $('#fuelHighDec10').addClass("btn-primary");
                $('#fuelHighInc10').addClass("btn-primary");
                }
                $('#fuelHigh').html(fuelHigh);
                $('#highFuelScoredSend').val(fuelHigh);
            });
            $('#fuelHighDec').click(function() {
                if(fuelHigh>0){
                        fuelHigh--;
                }else{
                $('#numberShootsHigh').addClass("panel-danger");
                $('#numberShootsHigh').removeClass("panel-default");
                $('#fuelHighDec').addClass("btn-danger");
                $('#fuelHighInc').addClass("btn-danger");
                $('#fuelHighDec').removeClass("btn-primary");
                $('#fuelHighInc').removeClass("btn-primary");
                $('#fuelHighDec10').addClass("btn-danger");
                $('#fuelHighInc10').addClass("btn-danger");
                $('#fuelHighDec10').removeClass("btn-primary");
                $('#fuelHighInc10').removeClass("btn-primary");
                }
                $('#fuelHigh').html(fuelHigh);
                $('#highFuelScoredSend').val(fuelHigh);
            });
            $('#fuelHighDec10').click(function() {
                if(fuelHigh>9){
                        fuelHigh-=10;
                }else{
                fuelHigh=0;
                $('#numberShootsHigh').addClass("panel-danger");
                $('#numberShootsHigh').removeClass("panel-default");
                $('#fuelHighDec').addClass("btn-danger");
                $('#fuelHighInc').addClass("btn-danger");
                $('#fuelHighDec').removeClass("btn-primary");
                $('#fuelHighInc').removeClass("btn-primary");
                $('#fuelHighDec10').addClass("btn-danger");
                $('#fuelHighInc10').addClass("btn-danger");
                $('#fuelHighDec10').removeClass("btn-primary");
                $('#fuelHighInc10').removeClass("btn-primary");
                }
                $('#fuelHigh').html(fuelHigh);
                $('#highFuelScoredSend').val(fuelHigh);
            });
            }
            function fuelLowInit() {
            var fuelLow = 0;
            $('#fuelLow').html(fuelLow);
            $('#lowFuelScoredSend').val(fuelLow);

            $('#fuelLowInc').click(function() {
                    fuelLow++;
                if($('#fuelLowInc').hasClass("btn-danger")){
                $('#numberShootsLow').removeClass("panel-danger");
                $('#numberShootsLow').addClass("panel-default");
                $('#fuelLowDec').removeClass("btn-danger");
                $('#fuelLowInc').removeClass("btn-danger");
                $('#fuelLowDec').addClass("btn-primary");
                $('#fuelLowInc').addClass("btn-primary");
                $('#fuelLowDec10').removeClass("btn-danger");
                $('#fuelLowInc10').removeClass("btn-danger");
                $('#fuelLowDec10').addClass("btn-primary");
                $('#fuelLowInc10').addClass("btn-primary");
                }
                $('#fuelLow').html(fuelLow);
                $('#lowFuelScoredSend').val(fuelLow);
            });
            $('#fuelLowInc10').click(function() {
                    fuelLow+=10;
                if($('#fuelLowInc').hasClass("btn-danger")){
                $('#numberShootsLow').removeClass("panel-danger");
                $('#numberShootsLow').addClass("panel-default");
                $('#fuelLowDec').removeClass("btn-danger");
                $('#fuelLowInc').removeClass("btn-danger");
                $('#fuelLowDec').addClass("btn-primary");
                $('#fuelLowInc').addClass("btn-primary");
                $('#fuelLowDec10').removeClass("btn-danger");
                $('#fuelLowInc10').removeClass("btn-danger");
                $('#fuelLowDec10').addClass("btn-primary");
                $('#fuelLowInc10').addClass("btn-primary");
                }
                $('#fuelLow').html(fuelLow);
                $('#lowFuelScoredSend').val(fuelLow);
            });
            $('#fuelLowDec').click(function() {
                if(fuelLow>0){
                        fuelLow--;
                }else{
                $('#numberShootsLow').addClass("panel-danger");
                $('#numberShootsLow').removeClass("panel-default");
                $('#fuelLowDec').addClass("btn-danger");
                $('#fuelLowInc').addClass("btn-danger");
                $('#fuelLowDec').removeClass("btn-primary");
                $('#fuelLowInc').removeClass("btn-primary");
                $('#fuelLowDec10').addClass("btn-danger");
                $('#fuelLowInc10').addClass("btn-danger");
                $('#fuelLowDec10').removeClass("btn-primary");
                $('#fuelLowInc10').removeClass("btn-primary");
                }
                $('#lowFuelScoredSend').val(fuelLow);
                $('#fuelLow').html(fuelLow);
            });

            $('#fuelLowDec10').click(function() {
                if(fuelLow>9){
                        fuelLow-=10;
                }else{
                    fuelLow=0;
                $('#numberShootsLow').addClass("panel-danger");
                $('#numberShootsLow').removeClass("panel-default");
                $('#fuelLowDec').addClass("btn-danger");
                $('#fuelLowInc').addClass("btn-danger");
                $('#fuelLowDec').removeClass("btn-primary");
                $('#fuelLowInc').removeClass("btn-primary");
                $('#fuelLowDec10').addClass("btn-danger");
                $('#fuelLowInc10').addClass("btn-danger");
                $('#fuelLowDec10').removeClass("btn-primary");
                $('#fuelLowInc10').removeClass("btn-primary");
                }
                $('#fuelLow').html(fuelLow);
                $('#lowFuelScoredSend').val(fuelLow);

            });
            }
            function foulsInit(){
            var fouls = 0;
            $('#fouls').html(fouls);
            $('#foul').val(fouls);

            $('#foulInc').click(function(){
                fouls++;
                if($('#foulInc').hasClass("btn-danger")){
                    $('#foulsDone').removeClass("panel-danger");
                    $('#foulsDone').addClass("panel-default");
                    $('#foulDec').removeClass("btn-danger");
                    $('#foulInc').removeClass("btn-danger");
                    $('#foulInc').addClass("btn-primary");
                    $('#foulDec').addClass("btn-primary");
                }
                if(fouls>0){
                    $('#foulsDone').removeClass("panel-default");
                    $('#foulsDone').addClass("panel-warning");
                    $('#foulDec').removeClass("btn-primary");
                    $('#foulInc').removeClass("btn-primary");
                    $('#foulInc').addClass("btn-warning");
                    $('#foulDec').addClass("btn-warning");
                }

                $('#fouls').html(fouls);
                $('#foul').val(fouls);
            });

            $('#foulDec').click(function() {
                if(fouls>0){
                    fouls--;
                }else{
                    $('#foulsDone').addClass("panel-danger");
                    $('#foulsDone').removeClass("panel-default");
                    $('#foulDec').addClass("btn-danger");
                    $('#foulInc').addClass("btn-danger");
                    $('#foulDec').removeClass("btn-primary");
                    $('#foulInc').removeClass("btn-primary");
                }
                if(fouls == "0"){
                    $('#foulsDone').removeClass("panel-warning");
                    $('#foulsDone').addClass("panel-default");
                    $('#foulDec').removeClass("btn-warning");
                    $('#foulInc').removeClass("btn-warning");
                    $('#foulInc').addClass("btn-primary");
                    $('#foulDec').addClass("btn-primary");
                }
                $('#fouls').html(fouls);
                $('#foul').val(fouls);
            });

            }

            function gearsInit() {
            var gears = 0;
            $('#gears').html(gears);
             $('#gearsScoredSend').val(gears);

            $('#gearInc').click(function() {
                    gears++;
                if($('#gearInc').hasClass("btn-danger")){
                    $('#gearsInputed').removeClass("panel-danger");
                    $('#gearsInputed').addClass("panel-default");
                    $('#gearInc').removeClass("btn-danger");
                    $('#gearDec').removeClass("btn-danger");
                    $('#gearInc').addClass("btn-primary");
                    $('#gearDec').addClass("btn-primary");
                    $('#gearInc10').removeClass("btn-danger");
                    $('#gearDec10').removeClass("btn-danger");
                    $('#gearInc10').addClass("btn-primary");
                    $('#gearDec10').addClass("btn-primary");
                }
                $('#gears').html(gears);
                 $('#gearsScoredSend').val(gears);
            });
            $('#gearDec').click(function() {
                if(gears>0){
                    gears--;
                }else{
                    $('#gearsInputed').addClass("panel-danger");
                    $('#gearsInputed').removeClass("panel-default");
                    $('#gearDec').addClass("btn-danger");
                    $('#gearInc').addClass("btn-danger");
                    $('#gearDec').removeClass("btn-primary");
                    $('#gearInc').removeClass("btn-primary");
                    $('#gearDec10').addClass("btn-danger");
                    $('#gearInc10').addClass("btn-danger");
                    $('#gearDec10').removeClass("btn-primary");
                    $('#gearInc10').removeClass("btn-primary");
                }
                $('#gears').html(gears);
                 $('#gearsScoredSend').val(gears);
            });
            $('#gearDec10').click(function() {
                if(gears>9){
                    gears-=10;
                }else{
                    gears=0;
                    $('#gearsInputed').addClass("panel-danger");
                    $('#gearsInputed').removeClass("panel-default");
                    $('#gearDec').addClass("btn-danger");
                    $('#gearInc').addClass("btn-danger");
                    $('#gearDec').removeClass("btn-primary");
                    $('#gearInc').removeClass("btn-primary");
                    $('#gearDec10').addClass("btn-danger");
                    $('#gearInc10').addClass("btn-danger");
                    $('#gearDec10').removeClass("btn-primary");
                    $('#gearInc10').removeClass("btn-primary");
                }
                $('#gears').html(gears);
                $('#gearsScoredSend').val(gears);
            });
            $('#gearInc10').click(function() {
                    gears+=10;
                if($('#gearInc').hasClass("btn-danger")){
                    $('#gearsInputed').removeClass("panel-danger");
                    $('#gearsInputed').addClass("panel-default");
                    $('#gearInc').removeClass("btn-danger");
                    $('#gearDec').removeClass("btn-danger");
                    $('#gearInc').addClass("btn-primary");
                    $('#gearDec').addClass("btn-primary");
                    $('#gearInc10').removeClass("btn-danger");
                    $('#gearDec10').removeClass("btn-danger");
                    $('#gearInc10').addClass("btn-primary");
                    $('#gearDec10').addClass("btn-primary");
                }
                $('#gears').html(gears);
                 $('#gearsScoredSend').val(gears);
            });

            }

        //function varInit() {
        //    var memory = {};

        //    $('[data-var][data-action="incr"]').click(function ($event) {
        //        var $target = $($event.target);

        //        memory[$target.attr('data-var')]++;

        //    }

        //}
    })()







</script>

</body>
</html>
